
@{
    ViewBag.Title = "Products";
    ViewBag.InitModule = "HomeIndex";
}
@section scripts{
    <script src="~/JS/app.js"></script>
    <script src="~/JS/home-index.js"></script>
}

<div class="col-md-12" ng-controller="ProductController as pc">
    <div ng-hide="pc.orderConfirmed === 1">
        <ul class="nav nav-pills">
            <li ng-class="{active: pc.isCategorySelected(category.categoryId)}" ng-repeat="category in pc.data.categories"><a href ng-click="pc.selectCategory(category.categoryId)">{{category.name}}</a></li>
        </ul>
        <hr />  
        <div class="col-md-6">
            <section>
                <div class="row">
                    <div class="col-md-4"><h4>Product Name</h4></div>
                    <div class="col-md-4"><h4><em>Price</em></h4></div>
                </div>
                <div class="panel" ng-repeat="category in pc.data.categories" ng-show="pc.isCategorySelected(category.categoryId)">
                    <div class="product-item row" ng-repeat="product in category.products">
                        <div class="col-md-4">{{product.name}}</div>
                        <div class="col-md-4"><em>{{product.unitPrice | currency:'£'}}</em></div>
                        <div class="col-md-4p pull-right"><button class="btn btn-primary" ng-click="pc.addToTheBasket(product)">Buy</button></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6" ng-hide="pc.basket.total == 0" class="product-item">
            <section>
                <div>
                    <div><h4>Shopping Basket</h4></div>
                </div>
                <div class="basket ">
                    <div ng-repeat="item in pc.basket.basketItems">
                        <div class="col-md-4">{{item.name}}</div>
                        <div class="col-md-4">{{item.quantity}} x {{item.unitPrice | currency:'£'}}</div>
                        <div class="col-md-4"><a href ng-click="pc.removeFromTheBasket(item)">Remove</a></div>
                    </div>
                    <div><hr /></div>
                    <div>
                        <div><h4>Total: <em>{{pc.basket.total | currency:'£'}}</em></h4></div>
                        <div><button class="btn btn-primary" ng-click="pc.checkout(pc.basket)">Checkout</button></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div ng-show="pc.orderConfirmed === 1">
        <section>
            <div class="col-md-12"><h4><b>Order Confirmed</b></h4></div>
            <div class="basket col-md-6">
                <h4><em>Order Summary</em></h4>
                <div class="col-md-12" ng-repeat="item in pc.basket.basketItems">
                    <div class="col-md-6">{{item.name}}</div>
                    <div class="col-md-6">{{item.quantity}} x {{item.unitPrice | currency:'£'}}</div>
                </div>
                <div class="col-md-12"><h4>Total: <em>{{pc.basket.total | currency:'£'}}</em></h4></div>
            </div>
            
        </section>
    </div>
</div>
    