
@{
    ViewBag.InitModule = "StoreApp";
}
@section scripts{
    <script src="~/JS/app.min.js"></script>
    <script src="~/JS/services.min.js"></script>
    <script src="~/JS/product.min.js"></script>
    <script src="~/JS/order.min.js"></script>
}

<div ng-view></div>    