@model IEnumerable<ParentPayDeveloperTask.Data.Category>
@{
    ViewBag.Title = "Products";
    ViewBag.InitModule = "HomeIndex";
}
@section scripts{
    <script src="~/JS/app.js"></script>
    <script src="~/JS/home-index.js"></script>
}

<div ng-view></div>
