
@{
    ViewBag.Title = "Products";
    ViewBag.InitModule = "StoreApp";
}
@section scripts{
    <script src="~/JS/app.js"></script>
    <script src="~/JS/services.js"></script>
    <script src="~/JS/store-app.js"></script>
    <script src="~/JS/order.js"></script>
}

<div ng-view></div>    