body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.product-item {
  border: 1px solid #aaaaaa;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #eaeaea;
  margin-left: 0px;
  margin-right: -20px;
}

.basket{
    border-radius: 5px; 
    border: 2px solid #800000;
    padding: 10px;
}


